django
pillow
django-cors-headers
ddrr
django-werkzeug-debugger-runserver
django-extensions
psycopg2-binary
django_sslserver
drf-yasg
pymongo
pymongo[srv]
djongo
python-dateutil

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googledrivedownloader