{% load static %}
<style>
    ul li {
        display: inline;
    }


</style>
<footer class="main-footer" style="margin-left: 0px; height: 500px; border-top: 0px;">
    <div class="elementor-divider"></div>
    <div class="elementor-divider"></div>
    <h6 style="text-align: center; color: black; opacity: 0.6"><b> Share this:</b></h6>
    <div class="row text-center mt-3">
        <div class="col-12">
            <ul data-sharing-events-added="true">
                <li class="mr-1"><a href="https://uxlivinglab.com/report1/?share=twitter&amp;nb=1"><span
                        class="btn btn-sm btn-light"><i class="fab fa-twitter"></i> Twitter</span></a></li>
                <li class="mr-1"><a href="https://uxlivinglab.com/report1/?share=linkedin&amp;nb=1"><span
                        class="btn btn-sm btn-light"><i class="fab fa-linkedin"></i> LinkedIn</span></a></li>
                <li class="mr-1"><a href="https://uxlivinglab.com/report1/?share=facebook& amp;nb=1"><span
                        class="btn btn-sm btn-light"><i class="fab fa-facebook"></i> Facebook</span></a></li>
                <li class="mr-1"><a href="https://uxlivinglab.com/report1/?share=reddit&amp;nb=1"><span
                        class="btn btn-sm btn-light"><i class="fab fa-reddit"></i> Reddit</span></a></li>
                <li class="mr-1"><a href="https://uxlivinglab.com/report1/?share=tumblr&amp;nb=1"><span
                        class="btn btn-sm btn-light"><i class="fab fa-tumblr"></i> Tumblr</span></a></li>
                <li class="mr-1"><a href="https://uxlivinglab.com/report1/?share=pinterest&amp;nb=1"><span
                        class="btn btn-sm btn-light"><i class="fab fa-telegram"></i> Telegram</span></a></li>
                <li class="mr-1"><a href="https://uxlivinglab.com/report1/?share=pocket&amp;nb=1"><span
                        class="btn btn-sm btn-light"><i class="fab fa-get-pocket"></i> Pocket</span></a></li>

            </ul>
        </div>
    </div>
    <div class="elementor-divider"></div>
    <div class="elementor-divider"></div>
    <h6 style="text-align: center; color: black; opacity: 0.6"><b> Like this:</b></h6>
    <div class="elementor-divider"></div>
    <center><p style="opacity: 0.6; text-align: center;">Loading...</p></center>
    <div class="elementor-divider"></div>
    <div class="elementor-divider"></div>

    <div class="row text-right mt-3">
        <div class="col-12">
            <ul data-sharing-events-added="true">
                <li class="ml-3"><a class="text-dark" href="https://uxlivinglab.com"><u
                        style="font-size: large;">Home</u></a></li>
                <li class="ml-3"><a class="text-dark" href="https://uxlivinglab.com/plans-pricing/"><u
                        style="font-size: large;">Plans &amp; Pricing</u></a></li>
                <li class="ml-3"><a class="text-dark" href="https://uxlivinglab.com/frequently-asked-questions/"><u
                        style="font-size: large;">FAQ</u></a></li>
                <li class="ml-3"><a class="text-dark" href="https://uxlivinglab.com/about-us/"><u
                        style="font-size: large;">About Us</u></a></li>
                <li class="ml-3"><a class="text-dark" href="https://uxlivinglab.com/contact/"><u
                        style="font-size: large;">Contact Us</u></a></li>
                <li class="ml-3"><a class="text-dark" href="https://uxlivinglab.com/jobs/"><u style="font-size: large;">Jobs</u></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-3"></div>

    <strong>Copyright &copy; {% now "Y" %} <a href="https://uxlivinglab.com">UxLiving Lab</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> v1.0
    </div>
</footer>